# Image directories
# These directories will be kept empty in the repo
# You'll need to upload images manually

# OS files
.DS_Store

# Backup files
*.bak
*.new

# PDF files
*.pdf
aei-brochure-web.pdf 